:root{
  --mainText:black;
  --secondaryText:darkgrey;
  --mainColor:#dbd1d0;
  --secondaryColor:#696969;
  --borderColor:yellow;
  --mainBGImage:"#";
}


html, body{
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5{
  color: var(--mainText);
  font-family: 'Russo One', sans-serif;
}

p, li, span, label, input, textarea{
  color: var(--secondaryText);
  font-family: 'Roboto', sans-serif;
}

h6, strong{
  font-family: 'Russo One', sans-serif;
  color:white;
}

a{
  text-decoration: none;
  color: #009dd1;
}

ul{
  list-style: none;
}

h1 { font-size: 76px;}
h2 { font-size: 36px;}
h3 { font-size: 28px;}
h4 { font-size: 24px;}
h5 { font-size: 20px;}
h6 { font-size: 16px;}

.fixed-elements{
  background-color:black;
  border:1px solid var(--borderColor);
}

.s1{
  background-color: var(--mainColor);
  border:1px solid var(--borderColor);
}

.s2{
  background-color: var(--secondaryColor);
  border:1px solid var(--borderColor);
}

.testimonials{
  background-color:black;
  border:1px solid var(--borderColor);
}

.main-container{
  width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px){
    .main-container{
      width: 95%;
    }
}

.nav-wrapper{
  display: grid;
  border:1px dashed color: var(--borderColor);
  min-height: 1em;
  max-height: 3em;
  text-align: center;
  align-content: center;
}

.testimonial-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 'testimonial1 testimonial2 testimonial3' 'testimonial1-source testimonial2-source testimonial3-source';
}

.testimonial1{
  grid-area: testimonial1;
}

.testimonial2{
  grid-area: testimonial2;
}

.testimonial3{
  grid-area: testimonial3;
}

.testimonial1-source{
  grid-area: testimonial1-source;
}

.testimonial2-source{
  grid-area: testimonial2-source;
}

.testimonial3-source{
  grid-area: testimonial3-source;
}

.footer-wrapper{
  display: grid;
  border:1px dashed color: var(--borderColor);
  min-height: 1em;
  text-align: center;
  align-content: center;
}
